@model BedsInRoom

<h3 class="pt-3 pb-3">СИГУРНИ ЛИ СТЕ, ЧЕ ИСКАТЕ ДА ПРЕМАХНЕТЕ ЛЕГО "@Model.Bed.Description" ОТ "@Model.Room.Name"</h3>

<div class="form-group">
    <label style="font-size: 1em;" asp-for="Room.Name" class="col-3"></label>
    <label style="font-size: 1em;" class="font-weight-bold col-8">@Model.Room.Name</label>
    <label style="font-size: 1em;" asp-for="Bed.Capacity" class="col-3"></label>
    <label style="font-size: 1em;" class="font-weight-bold col-8">@Model.Bed.Capacity</label>
    <label style="font-size: 1em;" asp-for="Bed.Description" class="col-3"></label>
    <label style="font-size: 1em;" class="font-weight-bold col-8">@Model.Bed.Description</label>
</div>

<div class="form-group pt-3">
    <a asp-action="list" asp-controller="bedsinrooms" class="btn btn-secondary">НАЗАД</a>
    <a class="btn btn-danger" asp-action="delete" asp-controller="bedsinrooms" asp-route-id="@Model.Id">ИЗТРИЙ</a>
</div>
